<div class="d-flex justify-content-center mt-5" >
    <div class="col-6">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" id="editForm">
          <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Employee Add</h1>
          </div>


          <app-text-input formControlName="name" [label]="'Employee Name'" [name]="'name'" ></app-text-input>
          <app-text-input formControlName="address" [label]="'Address'" [name]="'address'" ></app-text-input>
          <app-text-input formControlName="weChat" [label]="'We Chat'" [name]="'weChat'" ></app-text-input>
          <app-text-input formControlName="sickLeave" [label]="'Sick Leave'" [name]="'sickLeave'" ></app-text-input>
          <app-text-input formControlName="annualLeave" [label]="'Annual Leave'" [name]="'annualLeave'" ></app-text-input>
          <app-text-input formControlName="payRate" [label]="'Pay Rate'" [name]="'payRate'" ></app-text-input>
          <app-text-input formControlName="superAccount" [label]="'Super Account'" [name]="'superAccount'" ></app-text-input>

          <div class="input-group mb-3" >
            <div class="input-group-prepend">
              <span class="input-group-text d-flex justify-content-center" style="width: 144px;" id="basic-addon1">Department Name:</span>
            </div>
            <select 
            class="custom-select form-control ml-2" 
            id="departmentId" 
            name="departmentId"
            formControlName="departmentId"
            >
              <option 
              *ngFor="let department of departments"
              [value]="department.id" 
              >
                {{department.name}}
              </option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text d-flex justify-content-center" style="width: 144px;" id="basic-addon1">Birth Date:</span>
            </div>
            <input 
            type="text" 
            class="form-control ml-2" 
            formControlName="birthDate"
            id="birthDate"
            name="birthDate" 
            bsDatepicker
            #dp="bsDatepicker"
            placeholder="Super Account" 
            aria-label="Super Account" 
            aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text d-flex justify-content-center" style="width: 144px;" id="basic-addon1">Hire Date:</span>
            </div>
            <input 
            type="text" 
            class="form-control ml-2" 
            formControlName="hireDate"
            id="hireDate"
            name="hireDate" 
            #dp="bsDatepicker"
            bsDatepicker
            placeholder="Hire Date" 
            aria-label="Hire Date" 
            aria-describedby="basic-addon1">
          </div>
        </form>
        <div class="d-flex justify-content-around">
            <button  class=" btn btn-primary mr-2 btn-lg " [disabled]="editForm.invalid" (click)="onSubmit()"><i class="far fa-save mr-1"></i>Save</button>
            <button  class=" btn btn-warning mr-2 " (click)="cancelHandler()"><i class="fas fa-undo mr-1"></i>Cencel</button>
        </div>
        

        <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
      </div>

      
</div>
