<div class="mt-1">
  <section class="d-flex justify-content-around col-12 my-2">
    <section class="d-flex align-items-center col-6 my-2">
       <h5 class="text-warning mr-3">Sort</h5>
        <select  class="custom-select "  style="width: 45%;" (change)="onSortSelected($event.target.value)">
          <option *ngFor="let sort of sortOptions"   
                  [selected]="orderParams.sort === sort.value"               
                  [value]="sort.value">{{sort.name}}</option>
        </select>
    </section>
    <section class="d-flex align-items-center col-6 my-2" >
      <h5 class="text-warning mr-3">Dispay by Status</h5>
       <select  class="custom-select"  style="width: 45%;" (change)="OnStatusSelected($event.target.value)">
         <option *ngFor="let status of statuslist"
                 [selected]="orderParams.status === status.value"  
                 [value]="status.value">{{status.name}}</option>
       </select>
    </section>   
            
  </section>
    <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th scope="col">OrderNumber</th>
            <th scope="col">Stauts</th>
            <th scope="col">Due Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of orders,let i = index" class="text-center">
          <tr>
            <td>{{order.orderCode}}{{order.orderNumber}}</td>
            <td>{{order.orderStatus}}</td>
            <td>{{order.orderRequirementsBase.dueDate|timeago}}</td>
            <td>
              <button class="btn btn-outline-success mr-2"  ><i class="fas fa-info mr-1"></i>Detail</button>
              <button class="btn btn-outline-primary mr-2" ><i class="fas fa-edit mr-1"></i>Edit</button>
              <button class="btn btn-outline-danger mr-2" ><i class="fas fa-trash mr-1"></i>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<dvi class="d-flex justify-content-start" *ngIf="totalCount>0">
  <p>Total: {{totalCount}} Orders ! </p>
</dvi>

<div class="d-flex justify-content-end" *ngIf="totalCount>0">
  <app-pager
  [pageSize]="orderParams.pageSize"
  [totalCount]="totalCount"
  [pageNumber]="orderParams.pageNumber"
  (pageChanged)="onPageChanged($event)"
  ></app-pager>
</div>
